.about-us
   & .about-us-header
      margin-top: 80px
      text-align: center
   & .our-team
      & .our-team-img
         display: flex
         flex-wrap: wrap
         justify-content: center
   & h3
      font-size: 24px
      font-family: Verdana
      font-weight: 700
      line-height: 28px
      text-transform: uppercase
   & p
      font-size: 16px
      font-family: Verdana
      color: #afafaf
      font-weight: 400
      line-height: 24px
   & h4
      font-size: 20px
      font-family: Verdana
      color: #fe504f
      font-weight: 700
      line-height: 74px
      text-transform: uppercase
   & .about-us-content
      display: flex
      // раскидать блоки по краям
      justify-content: space-between
      & .line
         width: 50px
         height: 3px
         background: #000
      & .What-we-do
         & p
            font-size: 14px
            color: #343434
            font-weight: 400
            line-height: 24px
            width: 580px
      & .our-clients
         width: 570px
         flex-direction: column
         // df
         display: flex
         & .our-clients-content
            & img
               flex-wrap: wrap
   .container-about-us
      width: 1200px
      margin: 0 auto

