.about-us
   & .our-team
      & .our-team-img
         display: flex
         flex-wrap: wrap
         width: 1300px
   & h3
      font-size: 24px
      font-family: Verdana
      font-weight: 700
      line-height: 28px
      text-transform: uppercase
   & p
      font-size: 16px
      font-family: Verdana
      color: #afafaf
      font-weight: 400
      line-height: 24px
   & h4
      font-size: 20px
      font-family: Verdana
      color: #fe504f
      font-weight: 700
      line-height: 74px
      text-transform: uppercase
   & .about-us-content
      display: flex
      & .What-we-do
         & p
            font-size: 14px
            color: #343434
            font-weight: 400
            line-height: 24px
      & .our-clients
         & .our-clients-content
            & img
               flex-wrap: wrap
               width: 200px

