.contact-us
   background: #999 url(../../img/contact-us/3-layers.png) center no-repeat
   display: flex
   // fixed
   background-size: cover
   & .contact-us-content
      display: flex
      flex-direction: column
      & p
         margin-top: 112px
         font-size: 34px
         color: #ffffff
         font-family: Verdana
         font-weight: 700
         line-height: 58px
         text-transform: uppercase
         text-align: center
      & button
         border-radius: 50px
         background-color: #fe504f
         width: 215px
         height: 65px
         border: none
         font-size: 20px
         font-weight: 400
         color: #ffffff
         font-family: Verdana
         margin: 0 auto
         margin-bottom: 96px
         overflow: none
      & button:hover
         background-color: #fff
         color: #fe504f
         overflow: none