.header
   background: #999 url(../../img/bg/3-layers.png) center no-repeat 
   height: 100%
   // fixed
   background-size: cover

   // 0
   padding: 0
   margin: 0
.header-text
   color: #fff
   h1
      margin-top: 170px
      margin-bottom: 30px
      font-size: 60px
      font-weight: 700
      
      font-family: verdana, sans-serif
      // растояние между строками
      line-height: 74px
   p
      font-size: 20px
      font-weight: 400
      
      font-family: verdana, sans-serif
      // растояние между буквами
      // letter-spacing: 1px
.header-button
   & button
      padding: 23px 52px
      // плавность активацыы
      transition: 0.2s
      border-radius: 50px
      
      border: none
      // рамка без изменений
      outline: none

      font-family: verdana, sans-serif
      font-size: 20px
      font-weight: 200
      color: #ffffff
      text-align: center
      margin-top: 44px
      margin-bottom: 300px
   & .button-left
      background-color: #fe504f
   & .button-left:hover
      background-color: #fff
      color: #fe504f
   & .button-right
      background-color: #343434
      
      margin-left: 30px
   & .button-right:hover
      background-color: #fff
      color: #343434
.nav
   // df
   display: flex
   // раскидать блоки по краям
   justify-content: space-between
   // aic
   align-items: center
   padding-top: 71px
   
   & .logo
      font-size: 32px
      // делает все буквы заглавными
      text-transform: uppercase
      // подключения шрифта
      font-family: verdana, sans-serif
      // цвет текста
      color: #fe504f
      // жирность текста
      font-weight: 700
      line-height: 32px
      letter-spacing: -1.28px
   .menu
      // df
      display: flex
      
      // плавность активацыы
      transition: 200ms ease
   & ul, li
      // приврашение строчных тегов в блочныйе
      display: block
      // обнуление
      padding: 0
      margin: 0
      & a
         // tdn
         text-decoration: none
         // ml
         margin-left: 50px
         // fz
         font-size: 14px
         // h
         height: 12px
         // делает все буквы заглавными
         text-transform: uppercase
         color: #ffffff
         
         // жирность текста
         font-weight: 400
         // подключения шрифта
         font-family: verdana, sans-serif
      & a:hover
         // цвет текста
         color: #fff
         // рамка с низу
         border-bottom: 3px solid #fe504f
.line
   width: 60px
   height: 3px
   background-color: #fe504f