.header
   background:  url(../img/bg/bg.jpg) center no-repeat
   background-size: cover
   // 0
   padding: 0
   margin: 0
.nav
   // df
   display: flex
   // aic
   align-items: center
   & .logo
      // mr
      margin-right: 400px
      font-size: 32px
      // делает все буквы заглавными
      text-transform: uppercase
      // подключения шрифта
      font-family: verdanab, sans-serif
      // цвет текста
      color: #fe504f
      // жирность текста
      font-weight: 700
      line-height: 32px
      letter-spacing: -1.28px
   .menu
      // df
      display: flex
   & ul, li
      // приврашение строчных тегов в блочныйе
      display: block
      // обнуление
      padding: 0
      margin: 0
      & a
         // tdn
         text-decoration: none
         // ml
         margin-left: 50px
         // fz
         font-size: 14px
         // h
         height: 12px
         // делает все буквы заглавными
         text-transform: uppercase
         // color: #ffffff
         // подключения шрифта
         font-family: verdana, sans-serif
      & a:hover
         // цвет текста
         color: #000
         // рамка с низу
         border-bottom: 3px solid #fe504f