@media screen and (max-width: 1200px)
   .header
      padding: 0px 30px
   .What-we-do
      
      padding: 0 15px

   .our-clients
      padding-left: 45px
   .slick-dots
      right: 20px
   .our-team
      & h4,
      & .line
         
         margin-left: 13px
   .kol-news
      & h4
         font-size: 17px

   .contact
      padding: 0 25px 0 25px
   .contact-left-contace
      margin-top: 30px
@media screen and (max-width: 768px)
   .services-content
      padding: 10px
   .about-us-content
      flex-wrap: wrap
      padding: 0 65px
      & .What-we-do,
      & .our-clients
         padding: 0
         
