body
   // 0
   margin: 0
   padding: 0
   // подключения шрифта
   font-family: verdanab, sans-serif
.container
   /* центрврование */
   width: 1200px
   margin: 0 auto
   // рамка для проверки центрирования
   // border: 2px solid red
   // height: 400px
.df
   display: flex
div,
span,
input,
nav,
textarea
   box-sizing: border-box

@import 'header.sass'
@import 'our-services.sass'
@import 'contact-us.sass'
@import 'about-us.sass'
@import 'strategic.sass'
@import 'news.sass'
@import 'footer.sass'